* {
    margin: 0;
    padding: 0;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.bottom_nav {
    position: fixed;
    bottom: 0;
}


/* 共有样式 */

img {
    border: none;
    border-color: transparent;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

img {
    border: none;
    border-color: transparent;
    vertical-align: middle;
}

button,
input {
    background: transparent;
    border: none;
    -webkit-appearance: transparent;
    -moz-appearance: transparent;
    appearance: transparent;
    outline: none;
    font-weight: normal;
    font: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input,
button,
textarea,
select {
    background: transparent;
    border: none;
    -webkit-appearance: transparent;
    -moz-appearance: transparent;
    appearance: transparent;
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label,
button,
input,
button,
textarea,
select {
    outline: none;
    font-weight: normal;
}

button,
input,
textarea {
    font: inherit;
    color: inherit;
}


/* icon图标 */

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}