* {
    margin: 0;
    padding: 0;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}


/*底部导航*/

.bottom_nav {
    width: 100%;
    height: 1.30667rem;
    background-color: #fefefe;
    box-shadow: 0px 0px 0.06667rem #ebebeb;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 201;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.tabs-block__nav__item {
    -webkit-box-flex: 1;
    flex: 1;
    height: 100%;
}

.tabs-block__nav__item__link {
    display: block;
    text-align: center;
    font-size: 0.26667rem;
    color: #232323;
}

.tabs-block__nav__item__link--icon {
    display: block;
    margin: 0 auto;
    width: 0.8rem;
    height: 0.8rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ticket--icon {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAS1BMVEUAAAA4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTU4NTV6K33hAAAAGHRSTlMAsEFw3PLRhDNmCa0UxfDGuo1iUEwvIG1UI89BAAAA5ElEQVRIx+3V626EIBCG4ZGiLKh7cE/v/V9p27Qp22bG2EyadBOefyJfMAIz0jRN89Nu7KniJNXMh37c6dmF7x6mTVSLui4QuyrJg/vnYAS0tUeo800JRmV4T5QNIntlFLot4Q7+NlzS/XfhWaoM+o7OaniAIX89vUBQJuX3Wcr4BeAwrYWnA8BFFOEIDMUOlwE4BtFdIyQ7nCBexXTr6YsVLm8vb7LiBMEKBzjJmjNkK5zh7Av7Ptv5w3xb5TokruPpuhiOK+ksBv+qhjlKr6/o13Zjs9uNLGyy2C3WVFts0zyFV7hJH05/U1+QAAAAAElFTkSuQmCC");
}

.link-route {
    text-decoration: none;
    color: #232323;
}


/* 共有样式 */

html,
body {
    width: 100%;
    height: 100%;
    background: #fefefe;
}

body {
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: 0 0;
}

#root,
.App {
    width: 100%;
    height: 100%;
}

img {
    border: none;
    border-color: transparent;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

img {
    border: none;
    border-color: transparent;
    vertical-align: middle;
}

button,
input {
    background: transparent;
    border: none;
    -webkit-appearance: transparent;
    -moz-appearance: transparent;
    appearance: transparent;
    outline: none;
    font-weight: normal;
    font: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input,
button,
textarea,
select {
    background: transparent;
    border: none;
    -webkit-appearance: transparent;
    -moz-appearance: transparent;
    appearance: transparent;
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label,
button,
input,
button,
textarea,
select {
    outline: none;
    font-weight: normal;
}

button,
input,
textarea {
    font: inherit;
    color: inherit;
}


/* icon图标 */

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}